/* skills.scss */

.skills {
  position: relative;
  height: 100dvh;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .bg {
    object-fit: cover;
    z-index: -1;
  }
}

