$font-primary: 'Bricolage Grotesque';

/* Color palette */
$base-white-option1: #F8F9FA;
$base-white-option2: #F8F9FA;
$base-white-option3: #F8F9FA;

$base-black-option1: #0E1013;
$base-black-option2: #0E1013;
$base-black-option3: #0E1016;

$highlight1-option1: #F7C518;
$highlight1-option2: #BAE011;
$highlight1-option3: #24DD80;

$highlight2-option1: #3355FF;
$highlight2-option2: #7E4AE7;
$highlight2-option3: #1AA8B5;

$highlight3-option1: #F87A55;
$highlight3-option2: #E08C05;
$highlight3-option3: #1073EA;



