/* mobile-menu.scss */

@use 'variables' as vars;

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 50dvh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;

  .bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
  }

  .nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 105px;
    height: 328px;

    a {
      text-decoration: none;
      color: vars.$global-white;
      font-size: 18px;
      font-weight: 700;
      padding: 16px 0px;
    }

    &__toggle {
      background: none;
      border: none;
    }

  }

}
