.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 50dvh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;

  .bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
  }

  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
      text-decoration: none;
    }

  }

}
