/* header.component.scss */

@use 'variables' as vars;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  transition: top 0.3s ease-in-out;

  &__logo {
    width: 40px;
    height: auto;
    cursor: pointer;
  }

  &__menu-icon {
    width: 32px;
    height: auto;
  }

  &--invert {
    filter: brightness(0) invert(1) brightness(0.974);
    transition: filter 0.2s ease-in-out;
  }

  &__toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
  }

  &--inverted {
    color: vars.$global-black;

    .header--invert {
      filter: brightness(0) invert(1) brightness(0.06);
    }
  }

  &--contact {
    // Move header a little bit down when in contact section
    top: 24px;
  }
}
