/* header.scss */
@use '../../../../styles.scss';

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;

  &__logo {
    height: 40px;
    width: auto;
    color: styles.$global-white-bg;
  }

  &__toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
  }

  &__menu-icon {
    width: 32px;
    height: auto;
    color: styles.$global-white-bg;
  }

  &--inverted {
    .header__logo,
    .header__menu-icon {
      filter: invert(1);
    }
  }
}
