/* Contact component scss */

@use 'variables' as vars;

.contact {
  position: relative;
  min-height: 100dvh;
  overflow: hidden;

  &__content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 88px 16px;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  h5 {
    color: vars.$base-white-option1;
    font-weight: 500;
    font-size: 18px;
    margin: 4px;
  }

  h1 {
    font-weight: 700;
    font-size: 48px;
    margin: 4px;
  }
}
