/* styles.scss */
@use 'styles/variables' as vars;
@use 'styles/mixins' as mx;


@font-face {
  font-family: 'Bricolage Grotesque';
  src: url('/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf') format('truetype');
  font-weight: 200 400 700 800;
  font-display: swap;
  font-style: normal;
}

:root {
  --font-main: 'Bricolage Grotesque', sans-serif;
  color: vars.$global-white;
}


body {
  margin: 0;
  border: border-box;
  font-family: var(--font-main);
  background-color: vars.$global-white;}
