/* styles.scss */
@use 'styles/variables' as vars;
@use 'styles/mixins' as mx;
@use 'app/shared/ui/btn-primary/btn-primary';


@font-face {
  font-family: 'Bricolage Grotesque';
  src: url('/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf') format('truetype');
  font-weight: 200 400 700 800;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Kalam-light';
  src: url('/fonts/Kalam/Kalam-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Kalam-regular';
  src: url('/fonts/Kalam/Kalam-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Kalam-bold';
  src: url('/fonts/Kalam/Kalam-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

:root {
  --font-main: 'Bricolage Grotesque', sans-serif;
  --font-second: 'Kalam-regular', sans-serif;
  color: vars.$base-white-option1;
}


html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-main);
  background-color: vars.$base-white-option1;
}

// Hides content visually while keeping it readable for screen readers & SEO
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
}

@keyframes draw-erase-rtl {
  0% {
    clip-path: inset(0 0 0 100%);
  }
  15% {
    clip-path: inset(0 0 0 0);
  }
  75% {
    clip-path: inset(0 0 0 0);
  }
  90% {
    clip-path: inset(0 0 0 100%);
  }
  100% {
    clip-path: inset(0 0 0 100%);
  }
}

@keyframes draw-erase {
  0% {
    clip-path: inset(0 100% 0 0);
  }
  15% {
    clip-path: inset(0 0 0 0);
  }
  75% {
    clip-path: inset(0 0 0 0);
  }
  90% {
    clip-path: inset(0 100% 0 0);
  }
  100% {
    clip-path: inset(0 100% 0 0);
  }
}
