@use 'variables' as vars;

.projects {
  position: relative;
  min-height: auto;
  width: 100%;
  overflow: hidden;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 32px;
    height: 100%;
    padding: 88px 16px;
    box-sizing: border-box;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__subtitle {
    color: vars.$base-black-option1;
    font-weight: 500;
    margin: 0;
    margin-bottom: 4px;
  }

  &__title {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    color: vars.$base-black-option1;
    font-size: 48px;
    font-weight: 700;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -6px;
      width: 100%;
      height: 14px;
      background-image: url('/design-material/00_Hand-drawn lines/01_projects-me/color-option3.png');
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
  }
}
