@use '../../../../styles/variables' as vars;

.btn-primary {
  position: relative;
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  height: clamp(38px, 11vw, 44px);
  line-height: 1;
  background-color: vars.$base-white-option1;
  color: vars.$base-black-option1;
  padding: clamp(10px, 3.1vw, 12px) clamp(18px, 6.2vw, 24px);
  border-radius: 100px;
  border: 1.5px solid vars.$base-black-option1;
  font-size: clamp(16px, 4.6vw, 18px);
  font-weight: 500;
  white-space: nowrap;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 2px 4px 0px 0px vars.$base-black-option1;
  transition: all 600ms ease-out;

  &:active,
  &.is-pressing {
    transition: none;
    transform: translate(2px, 4px);
    box-shadow: 0px 0px 0px 0px vars.$base-black-option1;
    background-color: vars.$highlight3-option2;
    color: #f8f9fa;
  }

  &--dark {
    background-color: vars.$base-black-option1;
    color: #f8f9fa;
    border-color: #f8f9fa;
    box-shadow: 2px 4px 0px 0px #f8f9fa;

    &:active,
    &.is-pressing {
      box-shadow: 0px 0px 0px 0px #f8f9fa;
    }
  }

  &--ghost {
    background-color: rgba(0, 0, 0, 0.01);
    color: #F8F9FA;
    border-width: 1px;
    border-style: solid;
    border-color: #F8F9FA;
    box-shadow: 2px 4px 0px 0px #F8F9FA;

    &:active,
    &.is-pressing {
      box-shadow: 0px 0px 0px 0px vars.$base-white-option1;
    }
  }
}

.btn-primary.btn-primary--ghost {
  background-color: rgba(0, 0, 0, 0.01);
  color: #F8F9FA;
  border-width: 1px;
  border-style: solid;
  border-color: #F8F9FA;
  box-shadow: 2px 4px 0px 0px #F8F9FA;
}
